<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<p><a href="/myapp/kd_Change_password/">change password</a>
</p>
<p><a href="/myapp/kd_View_profile/">View Profile</a></p>

<p><a href="/myapp/kd_Add_member/">Add Members</a></p>
<p><a href="/myapp/kd_View_member/">View Members</a></p>
<p><a href="/myapp/kd_Add_events/">Add Events</a></p>
<p><a href="/myapp/kd_View_events/">View Events</a></p>
<p><a href="/myapp/kd_Add_member_meeting/">Add Members Meeting</a></p>
<p><a href="/myapp/kd_View_member_meeting/">View Members Meeting</a></p>
<p><a href="/myapp/kd_Add_kuries/">Add Kuris</a></p>
<p><a href="/myapp/kd_View_kuries/">View Kuris</a></p>
<p><a href="/myapp/kd_Add_Product/">Add Product</a></p>
<p><a href="/myapp/kd_View_Product/">View Product</a></p>
<p><a href="/myapp/kd_view_notification_nd_forward/">View notification and forward</a></p>
<p><a href="/myapp/kd_View_Payment/">View Product payments</a></p>
<p><a href="/myapp/kd_View_Kuri_Payment/">View Kuris payments</a></p>
<p><a href="/myapp/kd_View_Order/">View Orders</a></p>
<p>&nbsp;</p>
</body>
</html>
