{% extends 'Kdunit/kdunitindex.html' %}
{% block body %}


<body>
<form id="form1" name="form1" method="post" action="/myapp/kd_View_member_meeting_post/">
<table class="pull-left">
  <tr>
  <td>From</td>
    <td><input type="date" class="form-control"name="textfield" id="textfield" /></td>
    <td>To</td>
    <td><input type="date" class="form-control"name="textfield1" id="textfield1" /></td>
    <td><input type="submit" name="button" id="button" class="btn btn-info" value="Search" /></td>
  </tr>
</table><br>
  <table class="table table-bordered">
    <tr>
      <th>Sl.no</th>
      <th>Date</th>
      <th>Time</th>
      <th>Purpose</th>
        <th>&nbsp;</th>
        <th>&nbsp;</th>


    </tr>
      {% for i in data %}
    <tr>
      <td>&nbsp;{{ forloop.counter }}</td>
      <td>&nbsp;{{ i.date }}</td>
      <td>{{ i.time }}</td>

      <td>&nbsp;{{ i.purpose }}</td>
      <td><a href="/myapp/kd_Edit_member_meeting/{{ i.id }}" class="btn btn-warning">Edit</a></td>
            <td><a href="/myapp/kd_delete_member_meeting_post/{{ i.id }}" class="btn btn-danger">Delete</a></td>

    </tr>
      {% endfor %}
  </table>
</form>
</body>
{% endblock %}
