<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<p><a href="/myapp/Change_paassword/">change password</a>
</p>
<p><a href="/myapp/Add_kdunit/">Add Kdunit</a></p>
<p><a href="/myapp/View_kdunit/">View kdunit</a></p>
<p><a href="/myapp/Add_meeting/">Add meeting</a></p>
<p><a href="/myapp/View_meeting/">View meeting</a></p>
<p><a href="/myapp/Add_notification/">Add notification</a></p>
<p><a href="/myapp/View_notification/">View notification</a></p>
<p><a href="/myapp/View_events/">View events</a></p>
<p><a href="/myapp/View_feedback/">View Feedback</a></p>
{#<p><a href="/myapp/View_kdmembers/">View kdmembers</a></p>#}
<p><a href="/myapp/View_kuris_nd_payment/">View payments and kuris</a></p>
{#<p><a href="/myapp/View_profile/">View profile</a></p>#}
<p><a href="/myapp/View_users/">View users</a></p>
<p>&nbsp;</p>
</body>
</html>
