{% extends 'admin/adminindex.html' %}
{% block body %}

<body>
<form id="form1" name="form1" method="post" action="/myapp/editnotification_post/">
    {% csrf_token %}
  <table class="table table-bordered">
      <input type="hidden" name="id1"  value="{{ data.id }}" />
    <tr>
      <th>Notification</th>
      <td><textarea name="textarea" id="textarea" cols="45" class="form-control" rows="5">{{ data.notification }}</textarea></td>
    </tr>
    <tr>
      <td align="center" colspan="2"><input type="submit" name="button" class="btn btn-success" id="button" value="Update" /></td>
    </tr>
  </table>
</form>
</body>
{% endblock %}
